projectile-bookmarks.eld
recentf
bookmarks
elpa/*
ac-comphist.dat
recentf
projectile.cache
\#*.gitignore\#
.#*
.DS_Store
.emacs-buffers
.emacs.desktop    
.emacs.desktop.lock
tramp
image-dired
url/*    
.cache
tmp/*
semanticdb
TAGS
ido.last
smex-items
.cask
thumbs


.emacs_workgroups
.emacs_workgroups~
.gitignore~
auto-save-list
bookmarks~
elpa/yascroll-20150315.605
eshell
recentf~
*~
