projectile-bookmarks.eld
recentf
bookmarks
elpa/*
projectile.cache
ac-comphist.dat
recentf
projectile.cache
\#*.gitignore\#
.#*





.emacs_workgroups
.emacs_workgroups~
.gitignore~
.mc-lists.el
auto-save-list
bookmarks~
elpa/yascroll-20150315.605
eshell
recentf~
*~
