[submodule "include/emacs-helm-ag"]
	path = include/emacs-helm-ag
	url = https://github.com/syohex/emacs-helm-ag.git
[submodule "plugins/emacs-async"]
	path = plugins/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "plugins/emacs-helm-ag"]
	path = plugins/emacs-helm-ag
	url = https://github.com/syohex/emacs-helm-ag.git
[submodule "plugins/helm"]
	path = plugins/helm
	url = https://github.com/emacs-helm/helm.git
