[submodule "include/emacs-helm-ag"]
	path = include/emacs-helm-ag
	url = https://github.com/syohex/emacs-helm-ag.git
[submodule "y"]
	path = vendor/lispy
	url = https://github.com/abo-abo/lispy.git
[submodule "vendor/emacs-w3m"]
	path = vendor/emacs-w3m
	url = https://github.com/ecbrown/emacs-w3m.git
[submodule "vendor/treemacs"]
	path = vendor/treemacs
	url = https://github.com/Alexander-Miller/treemacs.git
[submodule "vendor/sidebar.el"]
	path = vendor/sidebar.el
	url = https://github.com/sebastiencs/sidebar.el.git
